@import "tailwindcss";

body {
    font-family: 'Rightel';
    box-sizing: border-box;
}

@font-face {
    font-family: 'Rightel';
    src: url("./src/IRANSansWeb(FaNum).ttf");
    src: url("./src/IRANSansWebFaNum.d402f064a654da21814c.woff");
}



#A {

    &:focus {
        #aa2 {
            display: block;


        }
    }


}
.animate__slideInRight {
  animation-duration: 2.5s !important;
  
  
   
  
}
.animate__slideInLeft {
  animation-duration: 2.5s !important;
   
   
  
}
.animate{
     animation-duration:0.7s !important;

}
