<<<<<<< HEAD
=======
@font-face {
    font-family: "Rightel";
    src: url("./src/IRANSansWeb(FaNum).ttf");
    src: url("./src/IRANSansWebFaNum.d402f064a654da21814c.woff");
}
>>>>>>> b9ad61d0369348f301b79d25c982eff2486a98f0
